body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.wrapper {}
.top-Section {
    position: relative;
}
.top-Section:after {
    position: absolute;
    top:0;
    z-index: -1;
    right:0;
    height: 100%;
    width: 696px;
    content: "";
    background: url(../assets/right-side.png) no-repeat;
}
.top-Section:before {
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    content: "";
    background: url(../assets/left-side.png) no-repeat;
}
.navbar-Style {
    margin-top: 10px;
    margin-left: 6%;
}
.navbar-Style li {margin: 0 12px;}
.navbar-Style li a {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 18px;
}
.top-header.top-header .btn-demo {
    background: #fff;
    border-radius: 25px;
    padding: 4px 24px;
    font-weight: 400;
    margin-right: 10px;
}
.top-header.top-header .btn-login {
    color: #fff;
    border-radius: 25px;
    padding: 4px 24px;
    font-weight: 400;
    border: 1px solid #fff;
}
.main_heading {
    font-size: 60px;
    color: #6bb244;
    font-weight: bold;
}
.main_section p {
    color: #444444;
    font-size: 16px;
}
.main_section {
    margin-top: 4rem;
    padding-bottom: 3rem;
}
.btn.learn_more {
    background: #6bb244;
    color: #fff;
    padding: 9px 60px;
    border-radius: 24px;
    margin: 12px 0;
}
.Our_User_section {
    background: #6bb244;
    padding: 1.5rem 0;
}
.User_txt {
    font-size: 30px;
    color: #fff;
    align-content: center;
}
.fm_heading_fr {
    font-size: 60px;
    color: #6bb244;
}
.fm_heading_se {
    font-size: 80px;
    color: #6bb244;
}
.contact_Form {
    padding: 4rem 0rem;
}
.contact-form-wrapper .form-Style {
    border: 1px solid #000 !important;
    box-shadow: 0px 3px 5px #5b5555;
}
input.form-control.form-input.form-Style::placeholder {
    color: #000;
  }
  textarea::placeholder  {
    color: #000 !important;
  }
  .footer {position: relative;}
  .footer:before {
    content: "";
    background: url(/assets/Footer_Img.png) no-repeat;
    width: 100%;
    left: 0;
    height: 257px;
    position: absolute;
}
button.navbar-toggler {
    border: 0;
    color: #fff;
    background: #fff;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}
@media screen and (max-width:991px) and (min-width: 320px){
    .top-Section:before {background: none;}
    .top-Section:after {background: none;}
    .Mobile_new {background: #fff; box-shadow: 0px -1px 6px #00000054;}
    .navbar-Style { margin: 0; }
    .top-header.top-header .btn-demo {
        background: #6bb244;
        display: flex;
        width: 100%;
        color: #fff;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobile_Txt_User {text-align: center;justify-content: center;margin-bottom: 12px;}
    .fm_heading_fr {font-size: 40px;}
    .fm_heading_se {font-size: 60px;}
    .mobile_Txt_User {text-align: center;}
    .navbar-Style li {margin: 0;}
    .mobile_img {margin-top: 1rem;}
    .mobile_img img { margin-bottom: 20px;}
    .top-header.top-header .btn-login {background: #6bb244;}
    .footer:before { height: 77px;}
}
@media screen and (max-width:375px) and (min-width: 320px){
    .contact-form-wrapper {padding: 10px;}
    .fm_heading_fr {font-size: 30px;}
    .fm_heading_se {font-size: 40px;}
    .main_heading {font-size: 38px;}
}

